<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsd.mapper.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.hsd.model.Evaluate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <collection property="evaluateImg"
                ofType="com.hsd.model.EvaluateImg"
                column="{evaluateId=id}"
                select="selectGoodsEvaluateImg"
    >
    </collection>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hsd.model.Evaluate">
    <result column="time" jdbcType="LONGVARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, score, user_id, goods_id
  </sql>
  <sql id="Blob_Column_List">
    time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from g_evaluate
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 根据商品id查询商品评级信息的总条数 开始 -->
  <select id="countEvaluateInfo" resultType="java.lang.Long">
    select
        count(*)
    from
        g_evaluate
    where
        goods_id = #{goodsId}
      <if test='evaluationLevel == "A"'>
          and score between 4 and 5
      </if>
      <if test='evaluationLevel == "B"'>
          and score = 3
      </if>
      <if test='evaluationLevel == "C"'>
          and score between 1 and 2
      </if>
  </select>
  <!-- 根据商品id查询商品评级信息的总条数 结束 -->

  <!-- 根据商品id查询商品所有商品评价信息 开始 -->
  <select id="findAllProductReviewsByGoodsId" resultType="java.util.List" resultMap="BaseResultMap">
    select
        ge.*,u.phone,u.nick_name,ui.head_portrait
    from
        g_evaluate
    as
        ge
    inner join
        u_user
    as
        u
    on
        ge.user_id = u.id
    left join
        u_user_info
    as
        ui
    on
        u.id = ui.user_id
    where
        ge.goods_id = #{goodsId}
      <if test='evaluationLevel == "A"'>
         and score between 4 and 5
      </if>
      <if test='evaluationLevel == "B"'>
          and score = 3
      </if>
      <if test='evaluationLevel == "C"'>
          and score between 1 and 2
      </if>
    limit
        ${skipNum},${pageSize}

  </select>
  <!-- 根据商品id查询商品所有商品评价信息 结束 -->

  <!-- 查询商品的有图评价 开始 -->
    <select id="selectGoodsEvaluateImg" resultType="com.hsd.model.EvaluateImg">
        select image_url as imageUrl from g_evaluate_img where evaluate_id = #{evaluateId}
    </select>
  <!-- 查询商品的有图评价 结束 -->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_evaluate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hsd.model.Evaluate">
    insert into g_evaluate (id, content, score,
      user_id, goods_id, time
      )
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
      #{userId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{time,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hsd.model.Evaluate">
    insert into g_evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsd.model.Evaluate">
    update g_evaluate
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hsd.model.Evaluate">
    update g_evaluate
    set content = #{content,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      time = #{time,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsd.model.Evaluate">
    update g_evaluate
    set content = #{content,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>